:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255,255,255,.92);
  background: #000;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background: #000;
  color: #ddd;
}